# Mac-specific things.
# ......................................................................

.DS_Store


# Emacs.
# ......................................................................

*~
.#*
.git/COMMIT_EDITMSG


# Generic programming things.
# ......................................................................

TAGS

# SBML Test Suite-specific things.
# ......................................................................

cases/semantic/[0-9][0-9][0-9][0-9][0-9]/[0-9][0-9][0-9][0-9][0-9]-model.html
cases/semantic/[0-9][0-9][0-9][0-9][0-9]/[0-9][0-9][0-9][0-9][0-9]-plot.html
cases/semantic/[0-9][0-9][0-9][0-9][0-9]/[0-9][0-9][0-9][0-9][0-9]-plot.png
cases/semantic/[0-9][0-9][0-9][0-9][0-9]/[0-9][0-9][0-9][0-9][0-9]-plot.jpg
cases/semantic/[0-9][0-9][0-9][0-9][0-9]/[0-9][0-9][0-9][0-9][0-9]-sbml-l[0-9]v[0-9]-sedml.xml
cases/semantic/[0-9][0-9][0-9][0-9][0-9]/[0-9][0-9][0-9][0-9][0-9].omex
cases/semantic/.cases-archive-date

cases/stochastic/[0-9][0-9][0-9][0-9][0-9]/[0-9][0-9][0-9][0-9][0-9]-plot.html
cases/stochastic/[0-9][0-9][0-9][0-9][0-9]/[0-9][0-9][0-9][0-9][0-9]-plot.png
cases/stochastic/[0-9][0-9][0-9][0-9][0-9]/[0-9][0-9][0-9][0-9][0-9]-plot.jpg
cases/stochastic/.cases-archive-date

cases/syntactic/.cases-archive-date
