img {
  border: none;
}

hr {
  color: #ddd;
}

table.borderless-table {  
  font-size: 9pt;
}

table.borderless-table td,
table.borderless-table tr {  
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  border: none;
}

/* I don't understand why this is needed, but it's needed. -- MH */
#searchbox input { 
  height: 19px;
}

#resultsmap table {
  width: 90%;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  border: none;
}

#resultsmap td,
#resultsmap tr {
  height: 15px !important;
  margin: 0px;
  padding: 0px;
  border-collapse: collapse;
  border: none;
}

#resultsmap a {
  padding: 0; 
  margin: 0;
  border: none;
}

