<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>SBML Test Runner</string>
	<key>CFBundleIdentifier</key>
	<string>org.sbml.testsuite.ui.Program</string>
	<key>CFBundleVersion</key>
	<string>100.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>GenericApp.icns</string>
	<key>Java</key>
	<dict>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>MainClass</key>
		<string>org.sbml.testsuite.ui.Program</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>ClassPath</key>
		<array>
			<string>$JAVAROOT/testsuite-core.jar</string>
			<string>$JAVAROOT/swt.jar</string>
			<string>$JAVAROOT/testsuite-ui.jar</string>
			<string>$JAVAROOT/opal-0.9.5.1.jar</string>
			<string>$JAVAROOT/simple-xml-2.6.4.jar</string>
			<string>$JAVAROOT/org.swtchart_0.7.0.v20110128.jar</string>
		</array>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
		<key>VMOptions</key>
		<string>-Xmx512m -Xms128m</string>
		<key>StartOnMainThread</key>
		<true/>
		<key>JVMArchs</key>
		<array>
			<string>i386</string>
		</array>
	</dict>
</dict>
</plist>
